.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

input[type="search"] {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="search"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

input[type="submit"] {
  background-color: #1B497E;
  color: #fff;
  text-align: center;
  padding: 12px;
  border: none;
  width: 25%;
  border-radius: 5px;
  cursor: pointer;

}

.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 40%;
  text-align: center;
  background-color: #fff;
}

.card p {
  text-transform: capitalize;
  color: #1B497E;
  font-weight: 800;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;

}

.pagination-container button {
  background-color: #1B497E;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 45%;
}

.pagination-info {
  text-align: center;
  margin: 20px 0;
  color: #1B497E;
  display: block;
}

.not-found {
  text-align: center;
  color: #de360c;
  font-size: 20px;
  font-weight: 800;
}

@media(min-width: 768px) {
  .cards-container {
    gap: 10px;
  }

  .card {
    width: 20%;

  }
}